table.table
  thead
    tr
      th
        button.btn.btn-primary(type='button') Primary
      th
        button.btn.btn-primary(type='button') Primary
      th
        button.btn.btn-primary(type='button') Primary
      th
        button.btn.btn-primary(type='button') Primary
      th
        button.btn.btn-primary(type='button') Primary
      th
        button.btn.btn-primary(type='button') Primary
      th
        button.btn.btn-primary(type='button') Primary
  tbody
    tr
      td.space
      td.space
      td.space
      td.space
      td.space
      td.space
      td.space
    tr
      td.space
      td.space
      td.space
      td.space
      td.space
      td.space
      td.space
    tr
      td.space
      td.space
      td.space
      td.space
      td.space
      td.space
      td.space
    tr
      td.space
      td.space
      td.space
      td.space
      td.space
      td.space
      td.space
    tr
      td.space
      td.space
      td.space
      td.space
      td.space
      td.space
      td.space
    tr
      td.space
      td.space
      td.space
      td.space
      td.space
      td.space
      td.space
