extends layout

block extra_head_info
  title Connect Four
  meta(name='description', content='Basic Connect Four Game')
  meta(name='keywords', content='Jackson,Wearn,Jackson Wearn,connect four')
  script(type='application/ld+json').
    {
      "@context": "http://schema.org",
      "@type": "VideoGame",
      "name": "Connect Four",
      "url": "http://jacksonwearn.com/connect-four/",
      "playMode": "MultiPlayer",
      "gamePlatform": " Online_gaming_services"
    }
block content
  header.me
    .container
      .row
        .col-lg-12
          canvas#connect-four(width='600', height='400')
  section#about.success
    .container
      .row
        .col-lg-12.text-center
          h2 About
          hr
      .row
        .col-lg-6.col-lg-offset-3
          p(style='text-align:center')
            | Hi.  My name is Jackson. I am a Software Engineer for the Jobs UX and Services team at CareerBuilder.  I am a chronic tinkerer.  I read code, I write code, and I love expanding my technological arsenal.  I have a strong fondness for Node.js and Ruby, but I am always eager to try bleeding edge technologies.  Feel free to drop me a line if you’re interested in learning about my work experience, or if you just want to chat.

block extra_scripts
  script(src='javascripts/connect_four_logic.js')
  script(src='javascripts/connect_four_display.js')