footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-12
          h3 Around the Web
          ul.list-inline
            li
              a.btn-social.btn-outline(href='https://www.facebook.com/jackson.wearn')
                i.fa.fa-fw.fa-facebook
            li
              a.btn-social.btn-outline(href='https://www.linkedin.com/in/jackson-wearn-54560b71')
                i.fa.fa-fw.fa-linkedin
            li
              a.btn-social.btn-outline(href='https://github.com/jcwearn')
                i.fa.fa-fw.fa-github
  .footer-below
    .container
      .row
        .col-lg-12
          | Copyright © Jackson Wearn 2017
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
.scroll-top.page-scroll.hidden-sm.hidden-xs.hidden-lg.hidden-md
  a.btn.btn-primary(href='#page-top')
    i.fa.fa-chevron-up
// jQuery
script(src='vendor/jquery/jquery.min.js')
// Bootstrap Core JavaScript
script(src='vendor/bootstrap/js/bootstrap.min.js')
// Plugin JavaScript
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
// Contact Form JavaScript
script(src='javascripts/jq_bootstrap_validation.js')
script(src='javascripts/contact_me.js')
// Theme JavaScript
script(src='javascripts/freelancer.min.js')