extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top#custom-nav
    div.container
      div.row
        div.col-md-offset-2
          a(href='#').navbar-brand JACKSON WEARN

  div.container
    div.row 
      div.col-md-5.col-md-offset-1
        img(src='/images/jackson-headshot.jpg', alt='Jackson Wearn HS')#head-shot
      div.col-md-5
        p.
          Jackson Wearn is student at the University of Georgia, pursuing a Baccalaureate degree in Computer Science. He spent the summer of 2013 working as a software engineering intern at L-3 Display Systems. There he designed, implemented and maintained a manufacturing components database and front end. Jackson currently works in IT support at the UGA career center, and he was recently nominated for Student Employee of the Year.
        br        
        p.
         A disciplined athlete, Jackson qualified to participate in two national cross country championships and one national track championship. He holds two state records in Georgia. Jackson earned his Eagle Scout from the Boy Scouts of America in 2010. In his free time, Jackson enjoys road cycling, making music on his guitar and mandolin, and reading science fiction. He is a connoisseur of indie, art video games. 
